{% extends 'basesite/base.html' %}
{% block body %}
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="mt-5">Ask a question</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input name="title" id="id_title" maxlength="150" required
                                   class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text"
                                   placeholder="Enter title..."
                                   {% if form.title.value %}value="{{ form.title.value }}"{% endif %}
                                   aria-label="default input example">
                            <div id="title_feedback" class="invalid-feedback">
                                {{ form.title.errors|striptags }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control {% if form.message.errors %}is-invalid{% endif %}"
                                      name="message" cols="40"
                                      rows="10" required=""
                                      id="id_message"
                            >{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
                            <div id="message_feedback" class="invalid-feedback">
                                {{ form.message.errors|striptags }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="id_tags" class="form-label">Tags (please, provide up to 3 tags)</label>
                            <select class="form-select {% if form.tags.errors %}is-invalid{% endif %}" id="id_tags"
                                    name="tags" multiple data-max="3"
                                    data-allow-new="true" data-allow-clear="true"
                                    data-server="http://localhost:8000/tag-typeahead" data-live-server="1">
                                <option selected disabled hidden value="">Choose a tag...</option>
                                {% for value in form.tags.value %}
                                    <option value="{{ value }}" selected="selected">
                                        {{ value }}</option>
                                {% endfor %}
                            </select>
                            <div id="tags_feedback" class="invalid-feedback">{{ form.tags.errors|striptags }}</div>
                        </div>

                        <button type="submit" class="btn btn-primary">Ask!</button>
                    </form>

                </div>
                <div class="col-lg-2 offset-lg-1">
                    {% include 'basesite/trending_column.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts_in_body %}
    <script type="module">
        import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";

        Tags.init("select", {separator: ",|",});
    </script>
{% endblock %}