{% load humanize %}
{% if not page_obj %}<p class="lead">No questions found...</p>{% endif %}
{% for question in page_obj %}
    <div class="row">
        <div class="col-sm-1 text-center">
            {{ question.votes }}<br>Votes
        </div>
        <div class="col-sm-1 text-center">
            {{ question.answers.count }}<br>Answers
        </div>
        <div class="col-sm-8">
            <p class="lead"><a
                    href="{% url 'question-detail' question.id %}">{{ question.title }}</a></p>
            <p>{% for tag in question.tags.all %}<a href="{% url 'tag-list' tag.slug %}"><span
                    class="badge bg-primary">{{ tag.tag }}</span></a> {% endfor %}</p>
        </div>
        <div class="col-sm-2 text-center">
            <p>{{ question.author.username }}<br>
                {{ question.date_created|naturaltime }}</p>
        </div>
        <hr>
    </div>
{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}
    {% include 'basesite/pagination.html' %}
{% endif %}
