{% extends 'basesite/base.html' %}
{% block body %}

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="mt-5 mb-5">
                        {% if ordering != '-date_created' %}
                            <a href="{{ request.get_path }}?ordering=-date_created">New questions</a>
                        {% else %}
                            New questions
                        {% endif %}
                        |
                        {% if ordering != '-votes' %}
                            <a href="{{ request.get_path }}?ordering=-votes">Hot questions</a>
                        {% else %}
                            Hot questions
                        {% endif %}</h1>
                    {% include 'basesite/question_column.html' %}
                </div>
                <div class="col-lg-2 offset-lg-1">
                    {% include 'basesite/trending_column.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}