{% extends 'basesite/base.html' %}


{% block body %}

    <script type="module">
        import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";

        Tags.init("select");
    </script>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="mt-5">Ask a question</h1>
                    <form method="post">

                        {% csrf_token %}
                        <div class="mb-3">
                            <input name="title" id="id_title" maxlength="150" required class="form-control" type="text"
                                   placeholder="Enter title..." aria-label="default input example">
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control" name="message" cols="40"
                                      rows="10" required=""
                                      id="id_message"></textarea>
                        </div>
                        <div class="mb-3">
{#                            {{ form.tags }}#}
                            <label for="id_tags" class="form-label">Tags (please, provide up to 3 tags)</label>
                            <select class="form-select" id="id_tags" name="tags" multiple data-max="3"
                                    data-allow-new="true" data-allow-clear="true"
                                    data-server="http://localhost:8000/tag-typeahead" data-live-server="1">
                                <option selected disabled hidden value="">Choose a tag...</option>
{#                                                                <option value="1" selected="selected">Apple</option>#}
{#                                                                <option value="2">Banana</option>#}
{#                                                                <option value="3">Orange</option>#}
                            </select>
                            <div class="invalid-feedback">Please select a valid tag.</div>
                        </div>

                        <button type="submit" class="btn btn-primary">Ask!</button>
                    </form>

                </div>
                <div class="col-lg-2 offset-lg-1">
                    {% include 'basesite/ask_button.html' %}
                    {% include 'basesite/trending_column.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}